* {
  margin: 0px;
  padding: 0px;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  /* Variables to change property and properties dependant on it */
  --menu-gap: 5px;
}
